* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}
/* =================================== */
/* Navbar css */

nav {
  background: #191919;
  height: 10vh;
  width: 100%;
}

label.logo {
  float: left;
  color: white;
  cursor: pointer;
  font-size: 2rem;
  margin-left: 4vw;
  line-height: 10vh;
  font-weight: bold;
}

nav ul {
  float: right;
  margin-right: 1rem;
}

nav ul li {
  display: inline;
  cursor: pointer;
  line-height: 10vh;
  margin: 0 0.5vw;
}

nav ul li a {
  color: white;
  font-size: 1rem;
  padding: 0.6rem 0.9rem;
  border-radius: 0.3rem;
  text-transform: uppercase;
}

ul > li > a:hover {
  background: rgb(3, 201, 201);
  transition: 0.5sec;
}

.checkbtn {
  font-size: 1.5rem;
  color: white;
  float: right;
  line-height: 10vh;
  margin-right: 7vw;
  cursor: pointer;
  display: none;
}

/* ------------------------------------------------------- */

.left {
  color: white;
  width: 27vw;
  height: 100vh;
  background-color: black;
  float: left;
}

.right {
  float: right;
  color: white;
  width: 73vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
}

/* sections */

section {
  width: 67vw;
  position: relative;
  background-color: #191919;
  margin: 6vh auto;
  padding: 11vh 4vw;
  display: block;
}

section.intro {
  width: 25vw;
  height: 78vh;
  margin: 6vh 0 6vh auto;
  padding: 7vh 4vw;
}

.profile-img {
  display: block;
  border-radius: 50%;
  width: 12vw;
  margin: auto;
}

h1 {
  font-family: "Orbitron", cursive;
  font-size: 3rem;
  border-bottom: 3px solid #ef5350;
}

h2 {
  font-family: "Orbitron", cursive;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

h3 {
  font-size: 2rem;
  margin-top: 1rem;
}

p {
  text-align: center;
}

#intro {
  display: none;
}

.intro-contact > a {
  color: #2196f3;
}

section > li {
  margin: 0.6rem 0 0 5vw;
}

.list-item {
  margin: 0.6rem 0 0 5vw;
}
.list-link {
  color: #60a9e6;
  text-decoration: none;
}

/* ------------------------------------- */

@media (max-width: 1280px) {
  label.logo {
    font-size: 1.5rem;
    margin-left: 5vw;
  }
  nav ul li a {
    font-size: 0.9rem;
  }
}

@media (max-width: 1180px) {
  .left {
    display: none;
  }
  #intro {
    display: block;
  }
  .profile-img {
    width: 25vw;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
    padding: 10px;
  }

  h3 {
    font-size: 1.6rem;
  }

  .right {
    width: 100vw;
    overflow-y: scroll;
  }
  section {
    width: 88vw;
    margin: 6vh auto;
    padding: 5vh 5vw;
  }
  .checkbtn {
    display: block;
  }

  ul {
    position: fixed;
    width: 40%;
    height: 100vh;
    background: #191919;
    top: 10vh;
    left: -100%;
    text-align: left;
    transition: all 0.5s;
    z-index: 1000;
  }
  nav ul li {
    display: block;
    margin: 50px 4vw;
    line-height: 3rem;
  }
  nav ul li a {
    font-size: 1rem;
  }
  a:hover,
  a.active {
    background: none;
    /* color: rgb(3, 201, 201); */
  }
  li > a:hover {
    background: none;
    transition: 0.5sec;
  }
}

@media (max-width: 800px) {
  section {
    /* width: 88vw; */
    margin: 3vh auto;
    /* padding: 10vh auto; */
  }
  ul {
    width: 70%;
  }
  nav ul li {
    display: block;
    /* margin: 50px 0; */
    line-height: 1.8rem;
  }
  nav ul li a {
    font-size: 0.9rem;
  }
  /* a:hover,
  a.active {
    background: none;
    color: rgb(3, 201, 201);
  } */
}
