* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: black;
  color: white;
  font-family: "Quicksand", sans-serif;
  overflow: hidden;
}

li,
a,
button {
  text-decoration: none;
  color: white;
  list-style: none;
}

/* Navigation bar */

header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
  /* align-self: center; */
  padding: 25px 60px;
  background-color: #191919;
  width: 100vw;
  z-index: 999;
}

.logo {
  font-size: 1.5rem;
  cursor: pointer;
}

.nav-items li {
  display: inline-block;
}

.nav-items li a {
  padding: 10px;
  cursor: pointer;
  /* border-radius: ; */
}

.nav-items li a:hover {
  background-color: teal;
}

/* Container Divisions */

.left {
  color: white;
  width: 31vw;
  height: 100vh;
  background-color: black;
  float: left;
}

.right {
  float: right;
  color: white;
  width: 69vw;
  height: 100vh;
  overflow-y: scroll;
  background-color: black;
}

/* sections */

section {
  width: 66vw;
  top: 10vh;
  position: relative;
  background-color: #191919;
  margin: 6vh auto 6vh 0;
  padding: 11vh 4vw;
  display: block;
}

section.intro {
  width: 25vw;
  height: 78vh;
  margin: 6vh auto;
  padding: 7vh 4vw;
}

.profile-img {
  display: block;
  border-radius: 50%;
  width: 12vw;
  margin: auto;
}

h1 {
  font-family: "Orbitron", cursive;
  font-size: 3rem;
}

h2 {
  font-family: "Orbitron", cursive;
  font-size: 2rem;
  text-align: center;
  padding: 10px;
}

h3 {
  font-size: 1rem;
  text-align: center;
}
/* 
@media (max-width: 1200px) {
  li {
    padding: 1.5rem;
  }
  a {
    color: white;
    padding: 1vh 6px;
  }
  .nav-icon {
    font-size: 1.3rem;
  }
} */
